<!DOCTYPE html>

<!-- Rewrite this as responsive divs rather than a table -->

<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class='container'>
      <h1>Admin Page | View all records</h1>
      <p><a href='/'><button type='button' class='btn btn-success'>Add new users</button></a></p>
      <div class='row'>
        <div class='col-xs-offset-2 col-xs-2 left-header-cell'><h2>Username</h2></div>
        <div class='col-xs-2 mid-header-cell'><h2>Password</h2></div>
        <div class='col-xs-3 right-header-cell'><h2>Edit records</h2></div>
        <% for(var i = 0; i < docs.length; i++) { %>
      </div>
      <div class='row'>
        <div class='col-xs-offset-2 col-xs-2 username-body-cell'><%= docs[i].username %></div>
        <div class='col-xs-2 password-body-cell'><%= docs[i].password %></div>
        <div class='col-xs-2 update-body-cell'>
          <form action='<%= docs[i]._id %>/edit' method='get'>
            <input type='hidden' value='<%= docs[i].username %>' name='username'>
            <button type='submit' class='btn btn-info btn-small'>
              <span class='glyphicon glyphicon-edit'></span> Update Password
            </button>
          </form>
        </div>
        <div class='col-xs-1 delete-body-cell'>
          <form action='<%= docs[i]._id %>/edit' method='post'>
          <input type='hidden' value='<%= docs[i].username %>' name='username'>
          <button type='submit' class='btn btn-danger btn-small'>
            <span class='glyphicon glyphicon-remove'></span> Delete
          </button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
